*{
    margin: 0;
    padding: 0;
    box-shadow: none;
    
}

.imagens-slider{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
}

.setaEsq, .setaDir{
    position: absolute;
    z-index: 1;
}

.setaEsq{
    transform:rotateY(180deg);
    left: 2%;
}

.setaDir{
    right: 2%;
}

.setaEsq .imagem-seta, .setaDir .imagem-seta{
    width: 50px;
    height: 50px;
}

.opacidade{
    opacity: 0.6;
    cursor: default;
}


.imagens-slider .slide{
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    position: absolute;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: 0.5s ease-out;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.imagens-slider .slide.slide-rosa{
    background-image: url('img/fundorRosa.jpeg');
}

.imagens-slider .slide.slide-amarelo{
    background-image: url('img/fundoAmarelo.jpeg');
}

.imagens-slider .slide.slide-laranja{
    background-image: url('img/fundoLaranja.jpeg');
}



.conteudo{
    background-color: #ffffff;
    margin-left: 8%;
    text-align: justify;
    padding: 65px 60px;
    width: 620px;
    border-radius: 10px;
}

.titulo{
    margin-bottom: 40px;
}
p{
    margin-bottom: 20px;
}
.saiba-mais{
    font-weight: bold;
    color: red;
    text-decoration: none;
}

.slide.mostrar{
    opacity: 1;
}

.esconder{
    opacity: 0;
}


@media (max-width:925px){
    .conteudo{
        margin-left: 15%;
        width: 300px;
    }
}

@media(max-width:597px){
    .setaDir{
        position: fixed;
    }
    .imagens-slider{
        height: 100vh;
    }
    .conteudo{
        width: 150px;
        height: 250px;
        padding:35px 30px;

    }

    .titulo{
        font-size: 30px;
        margin: 10px;
    }

    p{
        font-size: 12px;
    }
}

@media(max-width:400px){
    .setaDir .imagem-seta, .setaEsq .imagem-seta{
        width: 25px;
        height: 25px;
    }
}